.git
.venv
venv
__pycache__
*.pyc
.env
school-portal/.env
all students
data
output
classroom_videos
models/deepface/**
!models/deepface/.deepface/
!models/deepface/.deepface/weights/
models/deepface/.deepface/weights/**
!models/deepface/.deepface/weights/arcface_weights.h5
*.zip
*.HEIC
*.jpg
*.png
*.mp4
*.webm
